export APP_ORIGIN=$(pass show whatsapp-assist/APP_ORIGIN)
export DATABASE_URL=$(pass show whatsapp-assist/DATABASE_URL)
export TEST_DATABASE_URL=$(pass show whatsapp-assist/TEST_DATABASE_URL)
export RESEND_API_KEY=$(pass show whatsapp-assist/RESEND_API_KEY)
export NODE_ENV=$(pass show whatsapp-assist/NODE_ENV)
export EMAIL_SENDER=$(pass show whatsapp-assist/EMAIL_SENDER)
export JWT_SECRET=$(pass show whatsapp-assist/JWT_SECRET)
export PORT=$(pass show whatsapp-assist/PORT)
export CLOUDINARY_URL=$(pass show whatsapp-assist/CLOUDINARY_URL)